<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">© 2024 AI App. All rights reserved.</span>
    <br>
    <span class="text-muted designed-by">Designed by SaaS Squad</span>
  </div>
</footer>
