<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">© 2024 Restaurant App. All rights reserved.</span>
    <br>
    <span class="text-muted designed-by">Designed by Abin Mathew &amp; Shoba Merin Kurian</span>
  </div>
</footer>
