<h1>Add New Restaurant</h1>
<form action="/api/restaurants" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>

  <label for="borough">Borough:</label>
  <input type="text" id="borough" name="borough" required>

  <label for="cuisine">Cuisine:</label>
  <input type="text" id="cuisine" name="cuisine" required>

  <fieldset>
    <legend>Address</legend>

    <label for="building">Building:</label>
    <input type="text" id="building" name="address[building]" required>

    <label for="street">Street:</label>
    <input type="text" id="street" name="address[street]" required>

    <label for="zipcode">Zipcode:</label>
    <input type="text" id="zipcode" name="address[zipcode]" required>

    <label for="coord">Coordinates:</label>
    <input type="text" id="coord" name="address[coord]" placeholder="-73.982419, 40.579505" required>
    <small>Enter as longitude, latitude</small>
  </fieldset>

  <button type="submit">Add Restaurant</button>
</form>
