<div class="container mt-5">
    <h1 class="mb-3 text-center">Welcome to Our  Page</h1>

    <p class="text-center">Explore our collections</p>

    <div class="text-center">
        <h3>Welcome!</h3>
        <p>We're glad you're here.</p>
    </div>
</div>
