<body>
    <h1>Register</h1>
    {{#if messages.error}}
        {{#each messages.error}}
            <div style="color: red;">{{this}}</div>
        {{/each}}
    {{/if}}
    {{#if messages.success}}
        {{#each messages.success}}
            <div style="color: green;">{{this}}</div>
        {{/each}}
    {{/if}}

    <form action="/register" method="post">
      <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm-password">Retype Password:</label>
        <input type="password" id="confirm-password" name="confirmPassword" required>

        <button type="submit">Register</button>
    </form>
</body>
